<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>
	<script type="text/javascript">
	function makeGame(){
	  location = "game/" + document.getElementById('gamename').value;
      return false;
	}
	</script>
    <form name="joingame" onSubmit="return makeGame();">
      game name: <input type="text" id="gamename" />
	  <input type="submit" value="Submit" />
    </form>
  </div>
</div>
